<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h1><i class="fas fa-pencil-alt"></i> Welcome to O-Art Gallery</h1>
            <p class="lead">View our insightful collection of Artworks</p>
            <% if(currentUser){ %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#artworkNew">Add New Artwork</button>
                <!-- artwork new modal -->
                <% include ./new %>
            <% } %>
        </div>
    </header>

    <div class="row">

        <% artworks.forEach(function(artwork){ %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="card border-info mb-3">
                <img class="card-img-top" src="<%= artwork.image %>" alt="<%= artwork.title %>">
                <div class="card-body p-sm-2">
                    <h2 class="card-title h6 mb-0">
                        <%= artwork.title %>
                    </h2>
                    <p class="card-text mb-1 text-truncate"><small><%= artwork.desc %></small></p>
                    <a class="float-right btn btn-info btn-sm" href="/artworks/<%= artwork._id %>">more info</a>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

</div>

<% include ../partials/footer %>