<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h1><i class="fas fa-pencil-alt"></i> Welcome to O-Art Gallery</h1>
            <p class="lead">View our insightful collection of Artworks</p>
            <% if(currentUser){ %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#artworkNew">Add New Artwork</button>
                <!-- artwork new modal -->
                <% include ./new %>
            <% } %>
        </div>
    </header>

    <div class="row">

        <% artworks.forEach(function(artwork){ %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="card border-info mb-3">
                <img class="card-img-top" src="<%= artwork.image %>" alt="<%= artwork.title %>">
                <div class="card-body p-sm-2">
                    <h2 class="card-title h6 mb-0">
                        <%= artwork.title %>
                    </h2>
                    <p class="card-text mb-1 text-truncate"><small><%= artwork.desc %></small></p>
                    <a class="float-right btn btn-info btn-sm" href="/artworks/<%= current %>/<%= artwork._id %>">more info</a>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    <% if (pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link"><span aria-hidden="true">&laquo;</span> First</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/artworks/1"><span aria-hidden="true">&laquo;</span> First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/artworks/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last <span aria-hidden="true">&raquo;</span></a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/artworks/<%= pages %>">Last <span aria-hidden="true">&raquo;</span></a></li>
            <% } %>
        </ul>
    <% } %>

</div>

<% include ../partials/footer %>