<% include ../partials/header %>

<div class="container">
    <div class="thumbnail">
        
        <img class="img-responsive" src="<%= artwork.image %>" alt="<%= artwork.title %>">
        <div class="caption-full">
            <p class="pull-right">#1,200</p>
            <h1><%= artwork.title %></h1>
            <p><%= artwork.desc %></p>
            <form class="pull-right" action="/artworks/<%= artwork.title %>?_method=DELETE" method="POST">
                <button class="btn btn-small btn-danger">Delete</button>
            </form>
            <a class="btn btn-small btn-warning" href="/artworks/<%= artwork.title %>/edit">Edit</a>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>