<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= artwork.image %>" alt="<%= artwork.title %>">
                <div class="caption-full">
                    <strong class="pull-right"># 1, 200</strong>
                    <h1><%= artwork.title %></h1>
                    <p><%= artwork.desc %></p>
                    <p><em>Submitted By <%= artwork.author.username %></em></p>

                    <!-- hide buttons from unauth user -->
                    <% if(currentUser && currentUser._id.equals(artwork.author.id)){ %>
                        <a class="btn btn-small btn-warning" href="/artworks/<%= artwork._id %>/edit">
                            Edit
                        </a>
                        <form class="dlt-btn" action="/artworks/<%= artwork._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-small btn-danger">Delete</button>
                        </form>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="text-right">
            <a class="btn btn-success" href="/artworks/<%= artwork._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <% artwork.comments.reverse().forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <em class="pull-right">3 days ago</em>
                    <p><%= comment.text %></p>
                    
                    <!-- hide buttons from unauth user -->
                    <% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
                        <form class="dlt-btn pull-right" action="/artworks/<%= artwork._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <a class="pull-right btn btn-xs btn-warning" href="/artworks/<%= artwork._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a>
                    <% } %>
                    
                </div>
            </div>
            <hr>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>