<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-info mb-3">
                <img class="card-img-top" src="<%= artwork.image %>" alt="<%= artwork.title %>">
                <div class="card-body">
                    <em class="float-right"># 1, 200</em>
                    <h1 class="h4"><%= artwork.title %></h1>
                    <p><%= artwork.desc %></p>

                    <!-- hide buttons from unauth user -->
                    <% if(currentUser){ %>
                        <button type="button" class="btn btn-sm btn-outline-warning mr-2" data-toggle="modal" data-target="#artworkEdit">
                            Edit
                        </button>
                        <!-- artwork edit modal -->
                        <% include ./edit %>

                        <form class="d-inline" action="/artworks/<%= artwork._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger">
                                Delete
                            </button>
                        </form>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-info">
                <div class="card-header bg-dark text-white p-2">
                    <h4 class="h5">Comments</h4>
                    <hr>
                    <button class="btn btn-sm btn-secondary border-info" type="button" data-toggle="collapse" data-target="#commentShow" aria-expanded="false" aria-controls="commentShow">
                        Show Comments
                    </button>
                    <a class="btn btn-sm btn-secondary border-info float-right" data-toggle="collapse" role="button" href="#commentNew" aria-expanded="false" aria-controls="commentNew">
                        Add New Comment
                    </a>
                </div>

                <!-- comment new collapse -->
                <% include ../comments/new %>

                <div class="collapse" id="commentShow">
                <% artwork.comments.reverse().forEach(function(comment){ %>
                    <div class="card-body p-2">
                        <em class="float-right">3 days ago</em>
                        <h6 class="card-subtitle"><i class="fas fa-user-alt"></i> <%= comment.author %></h6>
                        <p class="card-text mb-0 ml-3"><%= comment.text %></p>
                        
                        <!-- hide buttons from unauth user -->
                        <% if(currentUser){ %>
                            <form class="float-right" action="/artworks/<%= artwork._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                            <button type="button" class="float-right btn btn-sm btn-outline-warning mr-2" data-toggle="modal" data-target="#commentEdit" data-author="<%= comment.author %>" data-text="<%= comment.text %>" data-art="<%= artwork._id %>" data-com="<%= comment._id %>">
                                Edit
                            </button>
                            <!-- comment edit modal  -->
                            <% include ../comments/edit %>
                        <% } %>
                        
                    </div>
                <% }); %>
                </div>
                
                
            </div>
        </div>
    </div>
            
</div>



<% include ../partials/footer %>